<h1>Profile Page</h1>
  <%= @user.name %> <br>
  <%= @user.street_address %> <br>
  <%= @user.city %> <br>
  <%= @user.state %> <br>
  <%= @user.zip_code %> <br>
  <%= @user.email %> <br>

  <%= link_to "Edit Profile", 'profile/edit' %>

  <%= link_to "Change My Password", "/user/password/edit" %>
