<%= link_to "Home", "/" %>
<%= link_to "Admin Dashboard", "/admin" %>
<%= link_to "All Users", "/admin/users" %>
<%= link_to "All Merchants", "/admin/merchants"%>
<%= link_to "All Items", "/items"%>

<section class ="top-nav-right">
<%= link_to "Profile", "/profile" %>
<%= link_to "Logout", '/logout', method: :delete %>
</section>

<p style="color:white">Logged in as <%= "#{current_user.name}" %></p>
