<center>
  <h1>User Page with Admin Access</h1>
  <p><%= @user.name %></p>
  <p><%= @user.street_address %></p>
  <p><%= @user.city %></p>
  <p><%= @user.state %></p>
  <p><%= @user.zip_code %></p>
  <p><%= @user.email %></p>
  <p><%= @user.created_at %></p>
</center>
