<center>
  <h1>User Page with Admin Access</h1>
  <p>Name <%= @user.name %></p>
  <p>Street Address <%= @user.street_address %></p>
  <p>City <%= @user.city %></p>
  <p>State <%= @user.state %></p>
  <p>Zip Code <%= @user.zip_code %></p>
  <p>Email <%= @user.email %></p>
  <p>Created on <%= @user.created_at %></p>
</center>
